Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
      'cert-*', 'misc-*',
      'performance-*', 'readability-*', 'modernize-*'
    ]
    Remove: [
      'misc-no-recursion'
      'readability-magic-numbers',
      'readability-identifier-length',
      'readability-implicit-bool-conversion',
    ]
